<ul class="keyboard" ng-click="keyboard.setNumber($event)">
    <li><a href="" data-title="1">1</a></li>
    <li><a href="" data-title="2">2</a></li>
    <li><a href="" data-title="3">3</a></li>
    <li><a href="" data-title="4">4</a></li>
    <li><a href="" data-title="5">5</a></li>
    <li><a href="" data-title="6">6</a></li>
    <li><a href="" data-title="7">7</a></li>
    <li><a href="" data-title="8">8</a></li>
    <li><a href="" data-title="9">9</a></li>
    <li><a href="" data-title="0">0</a></li>
</ul>